# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode, PyCharm
.vscode/
.idea/

# macOS system files
.DS_Store

# Logs
*.log

# Test cache
.pytest_cache/
.coverage
htmlcov/

# mypy
.mypy_cache/
.dmypy.json
.pyre/

# Environments
.env
.env.*
